@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sahitya&display=swap');

*{
    margin:0;
    padding:0
}
html{
    scroll-behavior: smooth;
}
.header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 100px 0 30px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    height:110px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    box-sizing: border-box;
    z-index: 1000;
    transition: background-color .5s ease;
}

.header .logo img{
  height:90px;
  width:90px;
  filter: grayscale(100%);
}

.header .nav nav ul{
 display: flex;
}
.header .nav nav ul li{
    padding:10px 18px;
    list-style-type: none;
}
.header .nav nav ul li a{
    text-decoration: none;
    color:black;
    font-family: 'Gotu', sans-serif;
    font-weight: 700;
}
.banner-section{
    transform-style: preserve-3d;
    perspective: 500px;
}
.banner{
    width:100%;
    box-sizing: border-box;
    position: relative;
    margin-top:100px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
   background-color: black;
   background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstudentaffairscollective.org%2Fwp-content%2Fuploads%2F2017%2F09%2Fhome-office-remote-work.jpeg&f=1&nofb=1');
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
   
}
.banner .banner-image img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}
.banner-text{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: 'Yatra One', cursive;
    font-size: 50px;
    color:white;
}
.banner .blocks{
    position: relative;
    top: 0vw;
    display: block;
    height: 5vw;
    width: calc(100%/20);
    animation: animate 2s ease-in-out forwards;
    animation-delay: 1s;
}
@keyframes animate
{
  0%{
      transform: translateZ(2000px);
      /* background-image: url('https://wallpapercave.com/wp/wp5320845.jpg'); */
      background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fget.pxhere.com%2Fphoto%2Fadults-analyzing-brainstorming-business-business-people-caucasian-collaboration-communication-computer-cooperation-cup-digital-device-discussing-discussion-employees-facial-expression-group-group-together-indoors-interaction-laptop-leader-meeting-men-mug-notebook-office-partnership-people-planning-presentation-room-serious-sitting-strategy-talking-team-teamwork-technology-togetherness-training-women-work-workers-working-workspace-1550779.jpg&f=1&nofb=1');
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
      /* box-shadow: 0 5px 15px rgba(0,0,0,0.5); */
  }
 
  100%{
      transform: translateZ(0px);
      background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fget.pxhere.com%2Fphoto%2Fadults-analyzing-brainstorming-business-business-people-caucasian-collaboration-communication-computer-cooperation-cup-digital-device-discussing-discussion-employees-facial-expression-group-group-together-indoors-interaction-laptop-leader-meeting-men-mug-notebook-office-partnership-people-planning-presentation-room-serious-sitting-strategy-talking-team-teamwork-technology-togetherness-training-women-work-workers-working-workspace-1550779.jpg&f=1&nofb=1');
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
      /* border:1px solid rgba(0,0,0,0.1); */
      /* box-shadow: 0 5px 15px rgba(0,0,0,0.5); */
  }
}

.banner-section.banneractive .banner .blocks{
    animation: animatetwo 10s ease-in-out forwards;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fget.pxhere.com%2Fphoto%2Fadults-analyzing-brainstorming-business-business-people-caucasian-collaboration-communication-computer-cooperation-cup-digital-device-discussing-discussion-employees-facial-expression-group-group-together-indoors-interaction-laptop-leader-meeting-men-mug-notebook-office-partnership-people-planning-presentation-room-serious-sitting-strategy-talking-team-teamwork-technology-togetherness-training-women-work-workers-working-workspace-1550779.jpg&f=1&nofb=1');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    border:1px solid rgba(0,0,0,0.1);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5); 
}

@keyframes animatetwo
{
  0%{
      transform: translateZ(0px);
      background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fget.pxhere.com%2Fphoto%2Fadults-analyzing-brainstorming-business-business-people-caucasian-collaboration-communication-computer-cooperation-cup-digital-device-discussing-discussion-employees-facial-expression-group-group-together-indoors-interaction-laptop-leader-meeting-men-mug-notebook-office-partnership-people-planning-presentation-room-serious-sitting-strategy-talking-team-teamwork-technology-togetherness-training-women-work-workers-working-workspace-1550779.jpg&f=1&nofb=1');
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
      box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  }
  
  100%{
      transform: translateZ(2000px);
      background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fget.pxhere.com%2Fphoto%2Fadults-analyzing-brainstorming-business-business-people-caucasian-collaboration-communication-computer-cooperation-cup-digital-device-discussing-discussion-employees-facial-expression-group-group-together-indoors-interaction-laptop-leader-meeting-men-mug-notebook-office-partnership-people-planning-presentation-room-serious-sitting-strategy-talking-team-teamwork-technology-togetherness-training-women-work-workers-working-workspace-1550779.jpg&f=1&nofb=1');
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
      /* border:1px solid rgba(0,0,0,0.1); */
       box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  }
}

.heading{
    text-align: center;
    padding:30px;
    font-family: 'Gotu', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
    background-color: black;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.section{
    position: relative;
     padding: 50px 100px;
    margin:50px auto 0px auto;
    background-color: white;
}
.section .section-first{
    width:calc(100% - 150px);
    font-family: 'Sahitya', serif;
    font-size: 30px;
}
.learning{
    margin-top: 50px;
}

.section-second{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  padding: 10px;
}
.section-second .section-second-box{
    width:calc(100%/3);
    overflow: hidden;
   box-sizing: border-box;
   height: max-content;
   padding: 20px;
   transition: 1.0s ease-in-out;
}
/* .section-second-box:nth-child(2){
    margin-left: 20px;
}
.section-second-box:nth-child(3){
    margin-left: 20px;
}
.section-second-box:nth-child(5){
    margin-left: 20px;
}
.section-second-box:nth-child(6){
    margin-left: 20px;
} */
.section-second .section-second-box-text{
    position: relative;
    padding: 10px 0px 10px 0px;
}
.section-second-box-image{
   overflow: hidden;
}
.section-second .section-second-box-image img{
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: center;
    /* filter: grayscale(100%); */
    transition: 1s all ease-in-out;
}
.section-second-box-image img:hover{
    filter: grayscale(70%);
    transform: scale(1.1);
}
.section-second-box-image:hover ~ .section-second-box-text p{
    color:black;
}
.section-second-box:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.section-second .section-second-box p{
   text-align: center;
    font-family: 'Gotu', sans-serif;
    color: black;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}
.go-top{
 padding:50px;
 float:right;
 display: block;
}
.go-top span{
    font-size: 24px;
}
.go-top img{
    width:25px;
    height:30px;
}
.footer{
    padding:50px;
    text-align: center;
    background-color: black;
    color:white;
    margin-top: 120px;
}
.scroll-active .header{
    height:90px;
    background-color: black;
    
}
.scroll-active .header .nav nav ul li a{
    color:white;
}